<h4><a href="/dashboard">Dashboard</a></h4>
<h4><a href="/">Logout</a></h4>
<h2>@ViewBag.Wedding.NameOne and @ViewBag.Wedding.NameTwo 's Wedding</h2>
<h3> Date : @ViewBag.Wedding.Date.ToString("MMMM dd, yyyy") </h3>
<h3>Guests : </h3>
<ul>
    @foreach(Guest guest in @ViewBag.Wedding.Attendees)
    {
        <h3>@guest.User.FirstName @guest.User.LastName</h3>
    }    
</ul>
